{
	email gudu@kit.edu
	log {
		output stdout
		level debug
	}
}

ta1.g100.aarc3-pilots.vm.fedcloud.eu {
	reverse_proxy ta1:7672
}

ta2.g100.aarc3-pilots.vm.fedcloud.eu {
	reverse_proxy ta2:7672
}

tmi-sirtfi.g100.aarc3-pilots.vm.fedcloud.eu {
	reverse_proxy tmi-sirtfi:7672
}

rp.g100.aarc3-pilots.vm.fedcloud.eu {
  reverse_proxy rp:15661
}

whoami.g100.aarc3-pilots.vm.fedcloud.eu {
    forward_auth rp:15661 {
        uri /auth
        copy_headers  X-Forwarded-User X-Forwarded-Groups X-Forwarded-Name X-Forwarded-Email X-Forwarded-Provider X-Forwarded-Subject
    }

    reverse_proxy whoami:80
}

rp-expl.g100.aarc3-pilots.vm.fedcloud.eu {
	reverse_proxy rp-expl:80
}
